.box1{
    background-color: violet;
    height: 120px;
}

.box2{
    background-color: rgb(193, 71, 193);
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
   text-decoration: none;
}

.footerCor {
    background-color: violet;
}